* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto
}
body {
    background-color: #000;
}
h1, h2, h3 {
    line-height: 1;
}
h1, h2, h3, nav a{
    font-weight: 700;
    background: linear-gradient(90deg,
        #E6E9EB 0%,
        #C5C8CC 20%,
        #A7AAAE 40%,
        #b3b7bd 60%,
        #C5C8CC 80%,
        #E6E9EB 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.cta-button {
    background: linear-gradient(90deg,
        #E6E9EB 0%,
        #C5C8CC 20%,
        #A7AAAE 40%,
        #7D8084 60%,
        #C5C8CC 80%,
        #E6E9EB 100%
    );
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    max-width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    align-items: center;
    display: flex;
}
header {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 10px 5%;
    gap: 1rem;
    justify-content: space-between;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    z-index: 999;
    transition: top .4s ease;
}
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: gold;
}
.desktop-menu {
    display: flex;
    gap: 35px;
}

.desktop-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
}

.desktop-menu a:hover {
    color: #ffd678;
}
/* botão hamburguer */
.menu-btn {
    width: 35px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn span {
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: .3s;
}

/* Sidebar */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background: #111;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
    transition: .4s ease;
    z-index: 1001;
}

.mobile-menu a {
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
}

.mobile-menu a:hover {
    color: #ffd678;
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    z-index: 1000;
}
@media (max-width: 900px) {
    .desktop-menu {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}


.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    /* Fundo */
    background-image: url(./assets/images/banner-hero.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /* Altura premium */
    min-height: 85vh;
    padding: 4rem 2rem;

    /* Sombra externa elegante */
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.45);
}

/* Overlay escuro (melhora muito o contraste) */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.45) 40%,
        rgba(0, 0, 0, 0.25) 100%
    );
    z-index: 1;
}

/* Conteúdo */
.hero .container {
    display: flex;
    
    justify-content: space-between;
    max-width: 1200px;
    z-index: 2;
    position: relative;

   
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-text h1 {
    font-size: 4rem;
}
.hero-text h1 span {
    font-size: 7rem;
}
.hero-text p {
    font-size: 2rem;
    color: gold;
    text-transform: uppercase;
}
.hero-text em {
    font-size: 1.5rem;
    color: #fff;
}


/* Responsivo */
@media (max-width: 768px) {
    body {
        max-width: 768px;
        width: 100%;
    }
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 3rem 1.5rem;
        background-attachment: scroll;
        padding: 10px;
        background-attachment: fixed;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero h1 span {
        font-size: 3rem;
    }
    .hero-text p {
        font-size: 1.5rem;
    }
    .hero-text em {
        font-size: 1.1rem;
    }
    .hero::before {
        background: rgba(0, 0, 0, 0.55);
    }
    .hero .container {
        margin-top: 100px;
    }
    .hero .container {
        max-width: 100%;
        flex-direction: column;
        
        
    }
    
    
}

.logo img {
    width: 60px;
    border-radius: 50%;
}
#whatsappForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 700px;
  width: 100%;

  border-radius: 12px;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 30px rgba(0,0,0,0.35);
  border: 1px solid rgba(255,255,255,0.08);
}
#whatsappForm h3 {
  color: #f5f5f5;
  font-size: 2rem;
}
#whatsappForm input,
#whatsappForm textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
#whatsappForm label {
  color: #fff;
}
#whatsappForm button {
  padding: 12px;
  background: linear-gradient(90deg,
        #E6E9EB 0%,
        #C5C8CC 20%,
        #A7AAAE 40%,
        #7D8084 60%,
        #C5C8CC 80%,
        #E6E9EB 100%
    );
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.especialidades {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.especialidades .cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}
.section-title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    
}

.section-subtitle {
    text-align: center;
    max-width: 700px;
    margin: 10px auto 50px;
    font-size: 1.1rem;
    color: #fff;
}

.especialidades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card-especialidade {
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: 0.3s ease;
}

.card-especialidade img {
    width: 60px;
    margin-bottom: 15px;
}

.card-especialidade h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: #111;
}

.card-especialidade p {
    font-size: 0.95rem;
    color: #666;
}

.card-especialidade:hover {
    transform: translateY(-5px);
    border-color: #d5d5d5;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
}


.galeria {
    padding: 80px 0;
    
}

.galeria h2 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.galeria-sub {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #fff;
}

.galeria-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}

.galeria-item {
    overflow: hidden;
    border-radius: 8px;
}

.galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.galeria-item img:hover {
    transform: scale(1.06);
}

/* proporções diferentes */
.galeria-item.wide {
    grid-column: span 2;
}

.galeria-item.tall {
    grid-row: span 2;
}

/* Responsivo */
@media (max-width: 768px) {
    .galeria-item.wide, .galeria-item.tall {
        grid-column: span 1;
        grid-row: span 1;
    }
}


.beneficios {
    position: relative; /* necessário para o overlay */
    padding: 80px 20px;

    /* Background */
    background-image: url(./assets/images/banner-hero.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /* Altura */
    min-height: 85vh;

    /* Deixa o conteúdo acima do overlay */
    z-index: 1;
}

/* === OVERLAY SOMBREADO === */
.beneficios::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55); /* Ajuste aqui o nível de sombra */
    backdrop-filter: blur(1px); /* opcional: deixa mais premium */
    z-index: -1; /* fica atrás do conteúdo */
}



.beneficios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin-top: 40px;
    
}

.beneficio-card {
    background: #000;
    padding: 30px 20px;
    border-radius: 12px;
    border: 1px solid #e3e3e3;
    text-align: center;
    transition: 0.3s ease;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    z-index: 999;
    transition: top .4s ease;
}

.beneficio-card img {
    width: 60px;
    margin-bottom: 15px;
}

.beneficio-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: #111;
}

.beneficio-card p {
    color: #555;
    font-size: 0.95rem;
}

.beneficio-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.08);
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 20px;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.lightbox-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 45px;
    color: white;
    cursor: pointer;
    font-weight: 300;
    transition: .2s;
}

.lightbox-close:hover {
    color: #ddd;
}
